RewriteEngine On
# évite de rediriger des fichiers qui éxistent vraiment tels que les images par exemple
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]